/*Body*/
.wrapper {
  margin:5px;
  border:2px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*Menu*/

.menu {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: rgb(215, 220, 224);
}

.sidemenu {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

.sidemenu > li {
  padding-bottom: 3px;
}

.sidemenu-item a:hover:not(.active) {
  background-color: #e2e6e9;
}

.logo {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  color: rgb(41, 153, 41);
}

#contentMenu li {
  padding: 3px;
}

.menu-item {
  float: left;   
}

.menu-item a {
  display: block;
  color: #777;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menuInput {
  display: inline-block;
  text-align: left;
  padding: 5px;
  margin: 5px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 15px;
}

.date-picker {
  float: left;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/*Grid*/
.grid-container {
  display: grid;
  grid-template-columns: 200px auto;
  background-color: white;
  padding: 5px;
 }

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 1rem;
  min-height: 720px;
}

.dashboard {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 10px;
 }

 .widget >p {
  padding-left: 3px;
 }

.footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
}